/* your code here */
footer{
	background-color:#3BB9FF;
}
.top{
	display:flex;
	justify-content:space-between;
	margin-bottom:40px;
}
.logo-details .logo_name{
	font-size:35px;
	font-weight:bold;
}
.media-icons{
	display:flex;
	gap:10px;
	font-size:30px;
}
